body {
    background-color: lightskyblue;
    padding: 0;
    margin: 50px 0;
}

a {
    padding: 5px 0;
}

h2{
    margin: 0px;
    margin-top: 10px;
}

.row {
    position: relative;
    display: block;
    margin: 0 auto;
}

.card-container {
    width: 320px;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    text-align: center;
    transition-duration: 500ms;
}

img {
    z-index: 0;
    transition-duration: inherit;
}

.alg {
    position: relative;
    z-index: 1;
}

.flip {
    transform: rotate(90deg);
}

.left {
    transform: rotate(-90deg);
}

.right {
    transform: rotate(90deg);
}

.double {
    transform: rotate(180deg);
    transition-duration: 1s;
}