:host {
  display: block;
  border: 1px solid grey;
  border-radius: 5px;
  height: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.alg-image {
  transition-duration: 800ms;
  z-index: 0;
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate--90 {
  transform: rotate(-90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}
