* {
	padding: 0px;
	margin: 0px;
}

html {
    background-color: #9fc6ac;
}

body {
	font-family: 'Droid Sans', sans-serif;
}
p, h3 {
	text-align: center;
}

a {
	position: relative;
	z-index: 1;
}

img {
	position: relative;
	display: block;
	margin: 0 auto;
}

td {
	vertical-align: top;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.cmllContainer {
	width: 350px;
	margin-bottom: 10px;
}

.algText {
	margin-bottom: 10px;
}
